@font-face {
  font-family: custom-font;
  font-weight: 500;
  font-style: normal;
  src: url(./fonts/CustomFont-Medium.woff2) format("woff2");
}

html {
  font-family: custom-font, BlinkMacSystemFont, -apple-system, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans,
    Droid Sans, Helvetica Neue, Helvetica, Arial, sans-serif !important;
  @apply text-dark-500;
}
input {
  @apply bg-transparent;
}
.label {
  @apply block mb-1 text-sm font-medium text-gray-900 dark:text-gray-300;
}
.input {
  @apply block w-full px-3 py-2.5 bg-white border border-gray-300 text-gray-900 rounded-lg outline-none focus:ring-1 focus:ring-green-500 focus:border-green-500 dark:bg-gray-400 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-green-500 dark:focus:border-green-500;
}
.form .input {
  @apply mb-2;
}
.button {
  @apply text-white inline-flex items-center bg-green-400 outline-none hover:bg-green-500 focus:ring-2 focus:ring-green-500 font-medium rounded-lg px-5 py-2 text-center  dark:bg-green-600 dark:hover:bg-green-400 dark:focus:ring-green-500;
}
.button-white {
  @apply text-green-400 inline-flex items-center bg-white outline-none hover:bg-light-100 focus:ring-2 focus:ring-green-500 font-medium rounded-lg px-5 py-2 text-center  dark:bg-green-600 dark:hover:bg-green-400 dark:focus:ring-green-500;
}
.h1 {
  @apply text-4xl font-medium;
}
.h2 {
  @apply text-2xl font-medium;
}
.subtitle {
  @apply text-xl text-gray-400;
}
.description {
  @apply text-gray-400;
}

/* Toggle */
input:checked ~ .toggle-bg {
  @apply bg-green-400;
}
input:checked ~ .toggle-dot {
  @apply transform translate-x-full;
}
input:focus ~ .toggle-bg {
  @apply ring-green-500;
}

/* Editable */
.editable:empty:before {
  content: attr(data-placeholder);
  @apply text-gray-400 cursor-text;
}

/* Dnd */
.config {
  @apply text-sm;
}
.dndrop-container {
  @apply !min-h-72;
}
.dndrop-draggable-wrapper {
  @apply pb-2;
}
.drop-preview {
  @apply border-2 border-dashed rounded-xl bg-white mb-2;
}
